/* ========================================================== */
/* ========================= RESET ========================== */
/* ========================================================== */
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ============================================================ */
/* ===================== ALL SCREEN SIZES ===================== */
/* ============================================================ */
:root {
  --black: #000000;
  --white: #ffffff;
  --grey: #808080;
}

body {
  margin: 0;
  background-color: var(--grey);
}

.blurry {
  filter: blur(1px);
  opacity: 0.5;
}

.scale {
  transform: scale(1.3);
}

/* ============================================================ */
/* ============== MOBILE WITH SMALL SCREEN SIZE =============== */
/* ============================================================ */
@media screen and (min-width: 320px) {
  .wrapper {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }

  .venus {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 80vh;
  }

  .luna {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  /* ============================================================ */
  /* ======================= START: IMAGES ====================== */
  /* ============================================================ */
  .page__youtube-image,
  .page__x-image,
  .page__instagram-image,
  .page__tiktok-image,
  .page__email-image {
    width: 50%;
  }

  .filter-color_blue {
    filter: invert(7%) sepia(99%) saturate(7422%) hue-rotate(247deg)
      brightness(105%) contrast(142%);
  }
  /* ============================================================ */
  /* ======================== END: IMAGES ======================= */
  /* ============================================================ */
}

/* ============================================================ */
/* ============== MOBILE WITH MEDIUM SCREEN SIZE ============== */
/* ============================================================ */
@media screen and (min-width: 390px) {
}

/* ============================================================ */
/* =============== MOBILE WITH LARGE SCREEN SIZE ============== */
/* ============================================================ */
@media screen and (min-width: 428px) {
}

/* ============================================================ */
/* ========================== TABLET ========================== */
/* ============================================================ */
@media screen and (min-width: 768px) {
}

/* ============================================================ */
/* ========================== DESKTOP ========================= */
/* ============================================================ */
@media screen and (min-width: 3992px) {
  /* ============================================================ */
  /* ======================= START: IMAGES ====================== */
  /* ============================================================ */
  .page__youtube-image,
  .page__x-image,
  .page__instagram-image,
  .page__tiktok-image,
  .page__email-image {
    width: 25%;
  }
  /* ============================================================ */
  /* ======================== END: IMAGES ======================= */
  /* ============================================================ */
}
