<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blurry</title>
    <link rel="stylesheet" href="../assets/css/style.css" />
  </head>
  <body>
    <div class="wrapper">
      <section class="venus">
        <!-- YouTube -->
        <a class="luna" href="#" target="_blank">
          <img
            class="page__youtube-image"
            id="youtube-image"
            src="../assets/images/youtube.svg"
            alt="youtube-image"
          />
        </a>
        <!-- X -->
        <a class="luna" href="#" target="_blank">
          <img
            class="page__x-image"
            id="x-image"
            src="../assets/images/x.svg"
            alt="x-image"
          />
        </a>
        <!-- Instagram -->
        <a class="luna" href="#" target="_blank">
          <img
            class="page__x-image"
            id="instagram-image"
            src="../assets/images/instagram.svg"
            alt="instagram-image"
          />
        </a>
        <!-- TikTok -->
        <a class="luna" href="#" target="_blank">
          <img
            class="page__x-image"
            id="tiktok-image"
            src="../assets/images/tiktok.svg"
            alt="tiktok-image"
          />
        </a>
        <!-- Email -->
        <a class="luna" href="#">
          <img
            class="page__email-image filter-color_blue"
            id="email-image"
            src="../assets/images/email.svg"
            alt="email-image"
          />
        </a>
      </section>
    </div>
    <script type="text/javascript" src="../assets/js/app.js"></script>
    <script type="text/javascript" src="../assets/js/modules/tools.js"></script>
    <script
      type="text/javascript"
      src="../assets/js/modules/blurry.js"
    ></script>
  </body>
</html>
